.task_manager {
     width: 100%;
  }
  
  .task_manager_boards {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }
  
  .task_manager_boards_last {
    flex-basis: 170px;
    min-width: 170px;
  }
  
  .task_manager_boards_add-board {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
  }
  .task_manager_boards_add-board_edit {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }