/* navbar style start  */

.main_nav {
  width: 100%;
  padding: 30px;

  display: flex;
justify-content: space-between;
  /* grid-template-columns: 10rem 1fr 2fr 1fr 10rem; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: sticky;
  background: white;
  top: 10px;
  z-index: 99;
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.menu_link {
  display: flex;
  align-items: center;
}

.menu_link ul {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  
}


/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu_link ul li {
  font-size: 1.8rem;
}

.menu_link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
  font-size: 20px;
}
.menu_link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}
.btn{
  padding: 10px 20px;
  font-size: 18px;
}