.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 7px 20px 0 rgb(0 0 0 / 20%);
    height: 70vh;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
    
}

.dashboard_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
.user_info_container{
    color: white;
    margin-left: 10px;
    padding: 20px;
}